* {
  margin: 4px;
  padding: 4px;
}

body {
  margin: 3px;
  padding: 2px;
}

form {
  padding: 1px;
  margin: 3px;
}

.box-1 {
  background-color: ivory;
  border: 2px black solid;
  border-width: 2px black solid;
  width: auto;
  padding: 20px;
}

.fields {
  padding: 2px;
  width: fit-content;
  size: 4em;
}

/* div.container2 {
  width: 80%;
  margin: left;
  border: 3px solid;
  border-right: 5px;
  border-left: 5px;
  border-top: 5px;
  border-bottom: 5px;
}

.container2 {
  width: 80%;
  margin: right;
  border: 3px solid;
  border-right: 5px;
  border-left: 5px;
  border-top: 5px;
  border-bottom: 5px;
}

.my-form {
  display: block;
  width: 80%;
  margin: left;
  border: 3px solid;
  border-right: 5px;
  border-left: 5px;
  border-top: 5px;
  border-bottom: 5px;
}

.button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: black;
  box-sizing: border-box;
}
.button:hover {
  color: red;
}

a:hover {
  color: red;
} */
