<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Blog by Rhys">
    <title>Forum</title>
    <link rel="stylesheet" href="{{url_for('static',filename='./css/blog.css')}}">
    <style type="text/css">
        #main-header{
            text-align: left;
            background-color: black;
            color:white;
            padding:10px;
        }

        #main-footer{
            text-align: center;
            font-size: 7px
        }

        .wrapper article{
            background: grey;
        }

        </style>
</head>
<body>
  <header id="main-header"> 
      <h1> Forum</h1>
  </header>

  <a href="index.html"> Go to Index</a>
  
  <section class="wrap">
      <div class="wrapper">
        <div class="post">
            <h3>Topics</h3>
            <small>Posted by xxx1 on July 17</small>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
              Voluptates mollitia inventore veritatis temporibus magnam 
              iste vel hic. Cum tenetur excepturi quas assumenda optio 
              reprehenderit, libero maiores illum qui tempora perspiciatis.</p>
              <a href="index.html" target="_blank"> Read More</a>
            </div>
        <div class="post">
            <h3>Claims</h3>
            <small>Posted by xxx2 on July 17</small>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
              Voluptates mollitia inventore veritatis temporibus magnam 
              iste vel hic. Cum tenetur excepturi quas assumenda optio 
              reprehenderit, libero maiores illum qui tempora perspiciatis.</p>
              <a href="index.html" target="_blank"> Read More</a>
  
            </div>
        <div class="post">
            <h3>Posts</h3>
            <small>Posted by xxx3 on July 17</small>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
              Voluptates mollitia inventore veritatis temporibus magnam 
              iste vel hic. Cum tenetur excepturi quas assumenda optio 
              reprehenderit, libero maiores illum qui tempora perspiciatis.</p>
              <a href="index.html" target="_blank"> Read More</a>
  
            </div>
        <div class="post">
            <h3>Last Posts</h3>
            <small>Posted by xxx3 on July 17</small>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
              Voluptates mollitia inventore veritatis temporibus magnam 
              iste vel hic. Cum tenetur excepturi quas assumenda optio 
              reprehenderit, libero maiores illum qui tempora perspiciatis.</p>
              <a href="index.html" target="_blank"> Read More</a>
 
            </div>
        <div class="post">
            <h3>Topics</h3>
            <small>Posted by xxx1 on July 17</small>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
              Voluptates mollitia inventore veritatis temporibus magnam 
              iste vel hic. Cum tenetur excepturi quas assumenda optio 
              reprehenderit, libero maiores illum qui tempora perspiciatis.</p>
              <a href="index.html" target="_blank"> Read More</a>
            </div>
        <div class="post">
            <h3>Claims</h3>
            <small>Posted by xxx2 on July 17</small>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
              Voluptates mollitia inventore veritatis temporibus magnam 
              iste vel hic. Cum tenetur excepturi quas assumenda optio 
              reprehenderit, libero maiores illum qui tempora perspiciatis.</p>
              <a href="index.html" target="_blank"> Read More</a>
  
            </div>
        <div class="post">
            <h3>Posts</h3>
            <small>Posted by xxx3 on July 17</small>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
              Voluptates mollitia inventore veritatis temporibus magnam 
              iste vel hic. Cum tenetur excepturi quas assumenda optio 
              reprehenderit, libero maiores illum qui tempora perspiciatis.</p>
              <a href="index.html" target="_blank"> Read More</a>
  
            </div>
        <div class="post">
            <h3>Last Posts</h3>
            <small>Posted by xxx3 on July 17</small>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
              Voluptates mollitia inventore veritatis temporibus magnam 
              iste vel hic. Cum tenetur excepturi quas assumenda optio 
              reprehenderit, libero maiores illum qui tempora perspiciatis.</p>
              <a href="index.html" target="_blank"> Read More</a>
 
            </div>
        <div class="post">
            <h3>Topics</h3>
            <small>Posted by xxx1 on July 17</small>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
              Voluptates mollitia inventore veritatis temporibus magnam 
              iste vel hic. Cum tenetur excepturi quas assumenda optio 
              reprehenderit, libero maiores illum qui tempora perspiciatis.</p>
              <a href="index.html" target="_blank"> Read More</a>
            </div>
        <div class="post">
            <h3>Claims</h3>
            <small>Posted by xxx2 on July 17</small>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
              Voluptates mollitia inventore veritatis temporibus magnam 
              iste vel hic. Cum tenetur excepturi quas assumenda optio 
              reprehenderit, libero maiores illum qui tempora perspiciatis.</p>
              <a href="index.html" target="_blank"> Read More</a>
  
            </div>
        <div class="post">
            <h3>Posts</h3>
            <small>Posted by xxx3 on July 17</small>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
              Voluptates mollitia inventore veritatis temporibus magnam 
              iste vel hic. Cum tenetur excepturi quas assumenda optio 
              reprehenderit, libero maiores illum qui tempora perspiciatis.</p>
              <a href="index.html" target="_blank"> Read More</a>
  
            </div>
        <div class="post">
            <h3>Last Posts</h3>
            <small>Posted by xxx3 on July 17</small>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
              Voluptates mollitia inventore veritatis temporibus magnam 
              iste vel hic. Cum tenetur excepturi quas assumenda optio 
              reprehenderit, libero maiores illum qui tempora perspiciatis.</p>
              <a href="index.html" target="_blank"> Read More</a>
 
            </div>
        <div class="post">
            <h3>Topics</h3>
            <small>Posted by xxx1 on July 17</small>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
              Voluptates mollitia inventore veritatis temporibus magnam 
              iste vel hic. Cum tenetur excepturi quas assumenda optio 
              reprehenderit, libero maiores illum qui tempora perspiciatis.</p>
              <a href="index.html" target="_blank"> Read More</a>
            </div>
        <div class="post">
            <h3>Claims</h3>
            <small>Posted by xxx2 on July 17</small>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
              Voluptates mollitia inventore veritatis temporibus magnam 
              iste vel hic. Cum tenetur excepturi quas assumenda optio 
              reprehenderit, libero maiores illum qui tempora perspiciatis.</p>
              <a href="index.html" target="_blank"> Read More</a>
  
            </div>
        <div class="post">
            <h3>Posts</h3>
            <small>Posted by xxx3 on July 17</small>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
              Voluptates mollitia inventore veritatis temporibus magnam 
              iste vel hic. Cum tenetur excepturi quas assumenda optio 
              reprehenderit, libero maiores illum qui tempora perspiciatis.</p>
              <a href="index.html" target="_blank"> Read More</a>
  
            </div>
        <div class="post">
            <h3>Last Posts</h3>
            <small>Posted by xxx3 on July 17</small>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
              Voluptates mollitia inventore veritatis temporibus magnam 
              iste vel hic. Cum tenetur excepturi quas assumenda optio 
              reprehenderit, libero maiores illum qui tempora perspiciatis.</p>
              <a href="index.html" target="_blank"> Read More</a>
 
            </div>
      </div>
      
  </section>

  <aside>
      <div class="list1">
        <nav>
        <p>Category 1</p>
        <p>Category 2</p>
        <p>Category 3</p>
      </aside>
    </nav>

      </div>
      
  <footer id="Main Footer">
      <p>Copyright &copy;</p>
  </footer>
</body>
</html>