<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='./css/index.css')}}"
      media="screen"
    />
  </head>

  <!-- <br> -->
  <body>
    <main>
      <form action="" method="POST" class="login">
        <h1>Login</h1>
        <input
          type="email"
          name="email"
          placeholder="Email"
          class="has-icon icon-email"
        />

        <input
          type="password"
          name="password"
          placeholder="Password"
          class="has-icon icon-password"
        />

        <label for="">
          <input type="checkbox" />
          Remember me
        </label>

        <div class="message">{{message}}</div>

        <input class="button" type="submit" value="Login" name="Login" />

        <a href="register">Don't have an account?</a>
      </form>
    </main>
  </body>
</html>
