<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{url_for('static',filename='./css/forum.css')}}"
  />

  <!-- <br> -->
  <body>
    <h1>Login</h1>
    <form action="" method="POST" class="login">
      <div class="box-1">
        <input type="email" name="email" placeholder="email" />
        <br />
        <div class="fields">
          <input type="password" name="password" placeholder="password" />
          <br />
          <input type="button" type="submit" value="Login" name="" />
          <br />
        </div>
        <a href="register.html">Don't have an account?</a>
      </div>
    </form>
  </body>
</html>
